@{
    ViewData["Title"] = "Home Page";
    Layout="_LoginView";
}



   <img src="/imgs/home-bg.jpg" style="margin-top:30px; width:100%; height:200px" />
   <h2 style="font-family:'Times New Roman'; text-align:center; font:bold;   margin-top:20px;"> Our Features</h2>

    
    <div class="Home" style=" height:135px;">
        <img src="/imgs/digital-inventory.png" />
        <img src="/imgs/search-online.png" />
        <img src="/imgs/digital-data.png" />
    </div>

    <div class="caption" >
        <h5>Digital Inventory</h5>
        <h5>Search</h5>
        <h5>Cataloguing</h5>
    </div>
    <div class="caption">
        <p style="background:lightgreen;">Digital Book Inventory Enables Librarian to upload & share unlimited e-content and offers access to students in order to drive hassle-free teacher-student collaboration.</p>
        <p style="background:skyblue; margin-left:5px;">Users can search about books by author, title, publisher</p>
        <p style="background:violet; margin-left:5px;">The cataloguing module of the library management system enables the librarian to create books, journals, and other resources entries and create a database of the same for easy book search.</p>
    </div>
   
    <div style="margin-top:50px;">
        <h4>Terms and Conditions:</h4>
        <ol>
            <li>A fine of 20 per day will be imposed if book is not returned on time. </li>
            <li>Books must be returned before the date due for return</li>
            <li>Additional fine will be imposed for tampering of the issued book.</li>
            <li>Library books and documents must be treated with honour, so that it is prohibited to underline, write notes or pull out pages there from.</li>
            <li>Users must not remove or alter the Copyright Statement on any copies of issued books.</li>
        </ol>
    </div>

